Source: spro
Section: misc
Priority: optional
Maintainer: Giulio Paci <g.paci@cineca.it>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: spro
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Speech signal processing toolkit for standard feature extraction
 SPro is a free speech signal processing toolkit which provides runtime
 commands implementing standard feature extraction algorithms for speech
 related applications and a C library to implement new algorithms and to
 use SPro files within your own programs.
 .
 SPro was originally designed for variable resolution spectral analysis
 but also provides for feature extraction techniques classically used in
 speech applications. There are commands for the following representations:
 .
  * filter-bank energies
  * cepstral coefficients
  * linear prediction derived representation
 .
