Source: spro
Section: misc
Priority: optional
Maintainer: Giulio Paci <giuliopaci@gmail.com>
Build-Depends: cdbs (>= 0.4.70~),
 devscripts,
 automake1.11,
 autoconf,
 debhelper,
 dh-buildinfo
Standards-Version: 3.9.3
Homepage: http://spro.gforge.inria.fr/

Package: spro
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dpkg (>= 1.15.4) | install-info
Description: Speech signal processing toolkit for feature extraction
 SPro is a free speech signal processing toolkit which provides runtime
 commands implementing standard feature extraction algorithms for speech
 related applications and a C library to implement new algorithms and to
 use SPro files within your own programs.
 .
 SPro was originally designed for variable resolution spectral analysis
 but also provides for feature extraction techniques classically used in
 speech applications.
 .
 SPro provides the standard speech signal analysis routines. The basic
 functions needed to build signal processing algorithms are defined in
 a library and runtime tools are provided for the standard analysis
 procedure (LPC, filter-bank and cepstral analysis).
