Source: spro
Section: sound
Priority: optional
Maintainer: Giulio Paci <giuliopaci@gmail.com>
Build-Depends: cdbs,
 debhelper (>= 9~),
 dh-buildinfo,
 devscripts,
 libtool,
 automake1.11,
 autoconf,
 dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.4
Homepage: http://spro.gforge.inria.fr/

Package: spro
Architecture: any
Depends: libspro0 (= ${binary:Version}),
	 ${shlibs:Depends},
	 ${misc:Depends},
	 dpkg (>= 1.15.4) | install-info
Description: speech signal processing toolkit
 SPro is a free speech signal processing toolkit which provides runtime
 commands implementing standard feature extraction algorithms for speech
 related applications and a C library to implement new algorithms and to
 use SPro files within your own programs.
 .
 SPro was originally designed for variable resolution spectral analysis
 but also provides for feature extraction techniques classically used in
 speech applications.
 .
 SPro provides the standard speech signal analysis routines. The basic
 functions needed to build signal processing algorithms are defined in
 a library and runtime tools are provided for the standard analysis
 procedure (LPC, filter-bank and cepstral analysis).
 .
 This package provides the command line tools.

Package: libspro-dev
Architecture: any
Section: libdevel
Depends: libspro0 (= ${binary:Version}),
         ${misc:Depends}
Description: speech signal processing toolkit - development files
 SPro is a free speech signal processing toolkit which provides runtime
 commands implementing standard feature extraction algorithms for speech
 related applications and a C library to implement new algorithms and to
 use SPro files within your own programs.
 .
 SPro was originally designed for variable resolution spectral analysis
 but also provides for feature extraction techniques classically used in
 speech applications.
 .
 SPro provides the standard speech signal analysis routines. The basic
 functions needed to build signal processing algorithms are defined in
 a library and runtime tools are provided for the standard analysis
 procedure (LPC, filter-bank and cepstral analysis).
 .
 This package provides development headers for SPro.

Package: libspro0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libspro0 (= ${binary:Version}),
         ${misc:Depends}
Description: speech signal processing toolkit - debug symbols
 SPro is a free speech signal processing toolkit which provides runtime
 commands and a C library for speech related applications.
 .
 This package provides the detached debug symbols for the SPro
 library.

Package: libspro0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: speech signal processing toolkit - runtime library
 SPro is a free speech signal processing toolkit which provides runtime
 commands implementing standard feature extraction algorithms for speech
 related applications and a C library to implement new algorithms and to
 use SPro files within your own programs.
 .
 SPro was originally designed for variable resolution spectral analysis
 but also provides for feature extraction techniques classically used in
 speech applications.
 .
 SPro provides the standard speech signal analysis routines. The basic
 functions needed to build signal processing algorithms are defined in
 a library and runtime tools are provided for the standard analysis
 procedure (LPC, filter-bank and cepstral analysis).
 .
 This package contains the SPro runtime library.
