#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall
include /usr/share/dpkg/buildflags.mk

include /usr/share/cdbs/1/rules/upstream-tarball.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_TAR_SRCDIR := .

DEB_AUTO_UPDATE_LIBTOOL = pre
DEB_AUTO_UPDATE_ACLOCAL = 1.11
DEB_ACLOCAL_ARGS = -I auxdir
DEB_AUTO_UPDATE_AUTOMAKE = 1.11
DEB_AUTOMAKE_ARGS = --foreign --add-missing --copy
DEB_AUTO_UPDATE_AUTOCONF = 2.69

BACKUP=configure aclocal.m4 auxdir/Makefile.in Makefile.in config.h.in doc/Makefile.in doc/spro.info doc/stamp-vti doc/version.texi test/Makefile.in test/dat/Makefile.in test/ref/Makefile.in

DEB_COPYRIGHT_CHECK_IGNORE_REGEX := ^debian/(changelog|copyright(|_hints|_newhints))$$|^doc/.*[.](pdf|jpg|eps|gif|png)$$|^test/.*[.](1|lfcc|lin)$$

pre-build::
	# Backup files expected to be modified.
	set -e ; for i in $(BACKUP); do \
		if [ ! -f "$$i".backup ]; then cp -a "$$i" "$$i".backup; fi ; \
	done

common-install-prehook-impl::
	make -C doc spro.pdf

binary-post-install/spro::
	$(RM) debian/$(cdbs_curpkg)/usr/share/info/dir

binary-post-install/libspro0-dev::
	sed -e "s/^dependency_libs.*/dependency_libs=''\n#&/g" -i debian/$(cdbs_curpkg)/usr/lib/libspro.la

clean::
	set -e ; for i in $(BACKUP); do \
		if [ -f "$$i".backup ]; then mv -f "$$i".backup "$$i"; fi ; \
	done
	$(RM) auxdir/ltmain.sh auxdir/compile auxdir/config.sub auxdir/config.guess auxdir/libtool.m4 auxdir/ltoptions.m4 auxdir/ltsugar.m4 auxdir/ltversion.m4 auxdir/lt~obsolete.m4

	$(RM) doc/spro.pdf

# Needed by upstream build process
CDBS_BUILD_DEPENDS += , dpkg-dev (>= 1.16.1~) 
