#!/usr/bin/make -f

# commented becouse dangerous, see
# http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=%23311724
# DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes 
# use fakeroot debian/rules debian/control DEB_AUTO_UPDATE_DEBIAN_CONTROL:=yes

DEB_TAR_SRCDIR := .
DEB_CONFIGURE_EXTRA_FLAGS ?= 

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

pre-build::
	chmod 755 ./autogen.sh
	./autogen.sh
